.index {
  width: 100%;
  background: transparent;
  height: auto;
}

.footer-clean {
  background: #5865f2;
  color: rgb(255,255,255);
}

.navigation-clean-button {
  background: #800080;
  color: rgb(0,209,255);
}

.navbar {
  background: #5865f2;
}

.navbar-brand {
  font-weight: bold;
  font-family: 'Cedarville Cursive', serif;
}

#parallax {
  height: 100vh;
  background: url("https://cdn.dribbble.com/…rtical=top") center / contain repeat;
  width: 100%;
}

body {
  font-family: 'Fira Code', monospace;
  background: rgb(255, 255, 255);
}

.item.abouteach {
}

.box:hover {
  color: #5865f2;
  border-style: inset;
  border-top-width: 5px;
  border-top-color: #a8afff;
  border-left-width: 5px;
  border-left-color: #a8afff;
}

